*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidde;
  background-color: rgba(0,0,0,.8);
}
.nav-bar{
  width: 100%;
  height: 70px;
  background-color:
    rgba(0,0,0,.7);
  padding: 0 10px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#ulEl li a{
  color: white;
}
.nav-bar img{
  width: 50px;
  height: 50px;
  transition: 1s;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:  1px 1px 1px coral,
              -1px -1px 1px coral;
}
.nav-bar img:hover{
  width: 55px;
  height: 55px;
}
.nav-bar .search{
  width: 150px;
  height: 25px;
  padding: 0 0 0 5px;
  font-size: 17px;
  border-radius: 5px; 
  outline: none;
  border: 2px solid white;
  color: black;
  box-shadow: 0 2px 2px white,
              0 -2px 2px white;
}
.nav-bar .search::placeholder{
  color: coral;
  font-size: 20px;
}
.nav-bar p{
  position: relative;
  overflow: hidden;
  
}
.nav-bar p i{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0,0,0,.8);
  color: white;
  width: 30px;
  padding: 10px;
  text-align:center;
  border-radius: 0 5px 5px 0;
  
  
}
.menu{
  color: white;
  font-size: 20px;
  display: none;
  z-index: 1;
}
.nav-bar #ulEl{
  display: flex;
  justify-content: space-between;
}
#ulEl span{
  color: white;
  font-size: 20px;
}
.nav-bar ul li{
  padding: 0 8px;
  color: whitesmoke;
}

.nav-bar ul li:hover{
  border: 1px solid coral;
}
body>img{
  position: relative;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  background-size: cover;
}

  /*--- photo gallery---- */

.all-photo{
  margin-top: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}
.all-photo p{
  background-color: coral;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 2px;
  scroll-margin: 85px;
}
.women-photo{
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.women-photo div{
  width: 150px;
  height: 180px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.women-photo div img{
  width: 100%;
  height: 180px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 10px;
  box-shadow: 0 2px 4px white,
              0 -2px 4px white;
}
.women-photo div img:hover{
  width: 250px;
  height: 250px;
}
.women-photo div a{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 20px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0,0,0,.5);
  color: white;
}
.women-photo div a:hover{
  color: coral;
}
hr{
  border: 1px dashed coral;
}

  
@media (max-width: 700px){
  .nav-bar .search{
  width: 100px;
  height: 20px;
  border-radius: 7px;
    }
  .nav-bar .search::placeholder{
    color: white;
  }
 .nav-bar #ulEl{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 80vh;
    padding: 60px 20px;
    background: coral;
  }
  .nav-bar img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-bar ul li{
      padding-top: 10px;
    }
  .nav-bar ul li:hover{
    color: black;
    border: none;
  }
  .nav-bar .search{
    font-size: 13;
  }
  .menu{
    display: block;
  }
  .nav-bar img{
    width: 40px;
    height: 40px;
  }
  .women-photo{
    width: 100%;
    justify-content: center;
  }
  .women-photo div{
      margin: 10px 20px;
      width: 150px;
      
    }
  .women-photo a{
    width: 100%;
    padding: 0;
  }
  
}